<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net472" />
  <package id="NetDimension.NanUI" version="0.8.80.125" targetFramework="net472" />
  <package id="NetDimension.NanUI.Runtime" version="80.1.15" targetFramework="net472" />
  <package id="NetDimension.NanUI.ZippedResource" version="0.8.80.120" targetFramework="net472" />
  <package id="SharpGen.Runtime" version="1.2.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Json" version="4.7.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Vortice.Direct2D1" version="1.8.30" targetFramework="net472" />
  <package id="Vortice.DirectX" version="1.8.30" targetFramework="net472" />
  <package id="Vortice.DXGI" version="1.8.30" targetFramework="net472" />
  <package id="Vortice.Mathematics" version="1.2.4" targetFramework="net472" />
  <package id="Vortice.Runtime.COM" version="1.8.30" targetFramework="net472" />
</packages>